@mixin font-face($font-family, $font-weight, $url) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $url format("woff2");
    font-display: swap;
  }
}
