$base-white: #ffffff;
$darker-black: #000000;
$base-black: #242424;
$secondary-black: #171717;
$button-color: #ff6a9f;
$background-color: rgba(22, 39, 62, 0.89);
$number-color: #8cc9e8;

$din-pro: "Din-pro", "Arial", sans-serif;
$gilroy: "Gilroy", "Arial", sans-serif;
$myriad: "Myriad", "Arial", sans-serif;
