$base-white: #ffffff;
$base-black: #242424;
$secondary-black: #171717;
$button-color: #ff6a9f;

$din-pro: "Din-pro", "Arial", sans-serif;
$gilroy: "Gilroy", "Arial", sans-serif;
$myriad: "Myriad", "Arial", sans-serif;
