.about {}

.about__title {
  margin: 0;
  font-family: $din-pro;
  width: 181px;
  font-size: 27px;
  line-height: 110%;
  font-weight: 400;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.about__wrapper {
  position: relative;
  margin-left: 100px;
  margin-bottom: 60px;
  z-index: 1;
}

.about__text-wrapper {
  position: relative;
  width: 725px;
  height: 445px;
  padding: 33px 56px 0 36px;
  border-radius: 40px;
  box-shadow: 5px 8px 232px 17px rgba(157, 185, 198, 0.39), 13px 100px 79px -6px rgba(255, 255, 255, 0.2) inset;
  background-color: $base-white;
}

.about__text {
  font-family: $myriad;
  font-size: 23px;
  line-height: 123%;
  font-weight: 400;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}

.about__toddler-wrapper {
  position: absolute;
  cursor: pointer;
  left: -89px;
  bottom: 5px;
  top: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: $darker-black;
}

.about__toddler {
  position: absolute;
  right: -7px;
  height: 104px;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(150deg, #cf578d 10%, rgb(255, 255, 255) 100%);

  //background: linear-gradient(to bottom right, #cf578d 47%, #ffffff 89%);
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__item {
  background-repeat: no-repeat;
  position: absolute;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    top: 4px;
    opacity: 0;
    left: 100px;
    width: 1024px;
    height: 768px;
    z-index: 0;
  }

  &:nth-child(1) {
    top: -6px;
    left: 111px;
    background-image: url("../../images/pink-sperm-1.png");
  }

  &:nth-child(2) {
    background-image: url("../../images/pink-sperm-3.png");
  }

  &:nth-child(3) {
    background-image: url("../../images/pink-sperm-4.png");
    animation: first-swim 2.5s;
    animation-delay: 0.5s;
  }

  &:nth-child(4),
  &:nth-child(5) {
    animation: first-swim 2.3s;
    animation-delay: 0.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &:nth-child(4) {
    background-image: url("../../images/pink-sperm-5.png");
  }

  &:nth-child(5) {
    background-image: url("../../images/pink-sperm-6.png");
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    animation: first-swim 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

::-webkit-scrollbar {
  display: none;
}

.about__bolder-text {
  font-weight: 800;
}

@keyframes first-swim {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-50px) translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(-100px) translateY(-40px);
  }
}
