.button {
  position: absolute;
  font-family: $din-pro;
  width: 288px;
  font-size: 27px;
  text-align: center;
  padding: 24px 35px 25px 73px;
  background: $button-color;
  cursor: pointer;
  letter-spacing: 1.62px;
  line-height: 105%;
  border-radius: 40px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 48px;
    border-radius: 100px;
    background-color: $secondary-black;
    top: 14px;
    left: 15px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 19px;
    height: 14px;
    left: 31px;
    top: 31px;
    background: url("../../images/arrow.png");
  }
}
