.title {
  margin: 0;
  font-family: $din-pro;
  font-size: 27px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: $base-black;
  margin-left: 295px;
  margin-bottom: 46px;
  letter-spacing: 0.4px;
}
